<div class="container">
      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content bg-danger p-2 m-2 rounded-3">
            <div class="modal-header bg-dark text-warning">
              <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
            </div>
            <div class="modal-body">
                <form class=" text-warning" action="/upload" method="post" data-dismiss="modal">
                    <div class="mb-3">
                        <label for="username" class="form-label h5">Felhasználó név</label>
                        <input type="text" class="form-control bg-dark text-warning" id="username" name="username"  placeholder="Adja meg a felhasználó nevét" required>
                    </div>
                    <div class="mb-3">
                        <label for="comment" class="form-label h5">Vélemény</label>
                        <textarea type="text" class="form-control bg-dark text-warning" id="comments" name="comments" placeholder="Adja meg a véleményét" maxlength="100" required></textarea>
                    </div>
                    <button type="submit" class="btn btn-warning  d-block mx-auto" style="width: 400px; border-radius: 20px;"><strong>Send</strong></button>
                </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-warning" data-bs-dismiss="modal"><strong>Close</strong></button>
            </div>
          </div>
        </div>
      </div>
</div>