<div class="container">
          <div class="modal" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                  <div class="modal-content">
                      <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body">
                          <form action="/upload" method="post">
                              <div class="mb-3">
                                  <label for="username" class="form-label">Felhasználó név</label>
                                  <input type="text" class="form-control" id="username" name="username"  placeholder="Adja meg a felhasználó nevét">
                              </div>
                              <div class="mb-3">
                                  <label for="comment" class="form-label">Vélemény</label>
                                  <textarea type="text" class="form-control" id="comments" name="comments" placeholder="Adja meg a véleményét"></textarea>
                              </div>

                              <button type="submit" class="btn btn-dark d-block mx-auto" style="width: 400px; border-radius: 20px;">Küld</button>
                          </form>
                      </div>
                      <div class="modal-footer">
                          <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                      </div>
                  </div>
              </div>
          </div>
      </div>
